#navbar {
    position: fixed;
    padding: 15px;
    border: 3px solid rgba(34,36,38,.15);
    background: rgb(212, 247, 19);
    transition: all 0.4s linear;

    .header {
        font-size: 2rem;
    }

    #logo:hover {
        background: rgb(241, 7, 7);
    }
}

.small {
    padding: 0 !important;

    .header {
        font-size: 1.5rem !important;
    }
}
