body {
    margin: 0;
    padding: 0;
    height: auto !important;
    font-family: sans-serif;
    background-color: black;
    background-image: url(https://media.istockphoto.com/vectors/online-shop-seamless-background-vector-id668056854);
}
